            body {
                    background-color: rgb(27, 13, 87);
                    margin: 130px;
                    box-sizing: border-box;
              }

                  .h1 {
                  font-family: verdana;
                  font-size: 35px;
                  color: #fff
                  
              }
                  
                  .container {
                    text-align: center;
                  }
                  
                  #time {
                    font-size: 70px;
                    color: rgb(210, 247, 6);
                  }
                  
                  .btns-container {
                    margin-top: 70px;
                    margin: 40px 0;
                  }
                  
                  button {
                    padding: 8px 15px;
                    border: none;
                    border-radius: 2px;
                    color: white;
                    cursor: pointer;
                  }
                  button:hover {
                    filter: grayscale(0.5);
                  }
                  button:focus {
                    outline: none;
                  }
                

                  #start_btn {
                    background: green;
                  }
                  #pause_btn {
                    background: blue;
                    display: none;
                  }
                  #reset_btn {
                    background: red;
                    display: none;
                  }
                  #home-button {
                    background: rgb(192, 235, 0);
                   display: none;
                  
                  }
                   
                  